# True: Modifica el mail de los clientes EJECUTAR_CLIENTES_LISTA a CORREO_RECEPTOR_TEST_MAIL - False: Carga de datos de clientes en productivo
DEV_MODE = 
GRABAR_EJECUCIONES = 
MODO_VISIBLE = 
INPUT_DATA_FROM_DB = 
LIMITES_REINTENTO = 
JURISDICCIONES_CONCURRENTES = 
PROCESAMIENTOS_DIARIOS = 

CORREO_RECEPTORs_TEST_MAIL = 
CORREO_NOTIFICACION_ERROR = 

# Ejemplos: J&J ARGENTINA S.A,FUNDACION TGS,JANSSEN CILAG FARMACEUTICA S.A,JOHNSON & JOHNSON MEDICAL S.A,PFIZER S.R.L - ARCA,ADIDAS ARGENTINA S.A - ARCA,EUROP ASSISTANCE ARGENTINA S.A
TEST_CLIENT_FOLDERS = 
JURISDICCIONES_DEPENDIENTES_NACIONAL = 
PASS_ZIP_DEFAULT = 
# Ejemplos: (Agip,Arba,Catamarca,Chaco,Chubut,Cordoba,Corrientes,EntreRios,Formosa,Jujuy,LaPampa,LaRioja,Mendoza,Misiones,Nacional,Neuquen,RioNegro,Salta,SanJuan,SanLuis,SantaCruz,SantiagoDelEstero,Sicnea,Tucuman)
JURISDICCIONES_DESHABILITADAS = 

# Sqlite
DB_PATH = 

# SQL variables
# SQL Server connection variables
# LOCAL
SQLSERVER_DATABASE = 
SQLSERVER_USERNAME = 
SQLSERVER_PASSWORD = 
SQLSERVER_SERVER = 
SQLSERVER_DRIVER = 
DATABASE_URL = 

#SERVIDOR
SQLSERVER_DATABASE = 
SQLSERVER_USERNAME = 
SQLSERVER_PASSWORD = 
SQLSERVER_SERVER = 
SQLSERVER_DRIVER = 
DATABASE_URL = 


PATH_HTML_SET_PASS = 
PATH_ESTRUCTURA_ROBOT = 
SENDER_EMAIL = 
PROYECTO = 
SERVIDOR_SMTP = 
PUERTO_SMTP = 
log_file_path = 
SENDER_EMAIL_BEHAL = 

link_system = 
# link_clientes = 

# Constantes de archivos que corresponden a cada cliente
NOMBRE_ARCHIVO_CLIENTE = 
SHEET_ARCHIVO_CLIENTE = 
log_file_path = 
PATH_HTML_SET_PASS = 

DIAS_VIGENCIA_PASS_ZIP = 
CORREOS_RPA = 
CORREO_REMITENTE = 

ENVIAR_CORREO_TEST = 
CORREO_TEST = 

# Para plan de contingencia input
EJECUTAR_CLIENTES_LISTA = 
NOMBRE_ARCHIVO_CLIENTE = 
PATH_ESTRUCTURA_ROBOT = 
SHEET_ARCHIVO_CLIENTE = 
clientes_si_verificar_config = 
log_file_path = 
CLIENTES_CON_DOCUMENTACION = 

# Test
FECHA_DESDE = 
FECHA_HASTA = 

# Catamarca
TEST_CATAMARCA_CLIENT = 
TEST_CATAMARCA_CUIT = 
TEST_CATAMARCA_CLAVE_FISCAL = 
TEST_CATAMARCA_CUIT_CLIENTE_INPUT = 

# RioNegro
TEST_RIO_NEGRO_CLIENT = 
TEST_RIO_NEGRO_CLIENT_FOLDER = 
TEST_RIO_NEGRO_CUIT = 
TEST_RIO_NEGRO_CLAVE_FISCAL = 
TEST_RIO_NEGRO_CUIT_CLIENTE_INPUT = 

# SantiagoDelEstero
TEST_SANTIAGO_DEL_ESTERO_CLIENT = 
TEST_SANTIAGO_DEL_ESTERO_CLIENT_FOLDER = 
TEST_SANTIAGO_DEL_ESTERO_CUIT = 
TEST_SANTIAGO_DEL_ESTERO_CLAVE_FISCAL = 
TEST_SANTIAGO_DEL_ESTERO_CUIT_CLIENTE_INPUT = 

# Nacional
TEST_NACIONAL_CLIENT = 
TEST_NACIONAL_CLIENT_FOLDER = 
TEST_NACIONAL_CUIT = 
TEST_NACIONAL_CLAVE_FISCAL = 
TEST_NACIONAL_CUIT_CLIENTE_INPUT = 

# Sicnea
TEST_SICNEA_CLIENT = 
TEST_SICNEA_CLIENT_FOLDER = 
TEST_SICNEA_CUIT = 
TEST_SICNEA_CLAVE_FISCAL = 
TEST_SICNEA_CUIT_CLIENTE_INPUT = 

# Cordoba
TEST_CORDOBA_CLIENT = 
TEST_CORDOBA_CLIENT_FOLDER = 
TEST_CORDOBA_CUIT = 
TEST_CORDOBA_CLAVE_FISCAL = 
TEST_CORDOBA_CUIT_CLIENTE_INPUT = 
TEST_CORDOBA_CLIENT = 
TEST_CORDOBA_CLIENT_FOLDER = 
TEST_CORDOBA_CUIT = 
TEST_CORDOBA_CLAVE_FISCAL = 
TEST_CORDOBA_CUIT_CLIENTE_INPUT = 

# EntreRios
TEST_ENTRERIOS_CLIENT = 
TEST_ENTRERIOS_CUIT = 
TEST_ENTRERIOS_CLAVE_FISCAL = 
TEST_ENTRERIOS_CUIT_CLIENTE_INPUT = 

# SanLuis
TEST_SANLUIS_CLIENT = 
TEST_SANLUIS_CUIT = 
TEST_SANLUIS_CLAVE_FISCAL = 
TEST_SANLUIS_CUIT_CLIENTE_INPUT = 

# Tucuman
TEST_TUCUMAN_CLIENT = 
TEST_TUCUMAN_CLIENT_FOLDER = 
TEST_TUCUMAN_CUIT = 
TEST_TUCUMAN_CLAVE_FISCAL = 
TEST_TUCUMAN_CUIT_CLIENTE_INPUT = 

# Arba
TEST_ARBA_CLIENT = 
TEST_ARBA_CLIENT_FOLDER = 
TEST_ARBA_CUIT = 
TEST_ARBA_CLAVE_FISCAL = 
TEST_ARBA_CUIT_CLIENTE_INPUT = 

# LaPampa
TEST_LA_PAMPA_CLIENT = 
TEST_LA_PAMPA_CUIT = 
TEST_LA_PAMPA_CLAVE_FISCAL = 
TEST_LA_PAMPA_CUIT_CLIENTE_INPUT = 
TEST_LA_PAMPA_CLIENT_FOLDER = 

# Salta
TEST_SALTA_CLIENT = 
TEST_SALTA_CUIT = 
TEST_SALTA_CLAVE_FISCAL = 
TEST_SALTA_CUIT_CLIENTE_INPUT = 
TEST_SALTA_CLIENT_FOLDER = 

# Chubut
TEST_CHUBUT_CLIENT = 
TEST_CHUBUT_CUIT = 
TEST_CHUBUT_CLAVE_FISCAL = 
TEST_CHUBUT_CUIT_CLIENTE_INPUT = 
TEST_CHUBUT_CLIENT_FOLDER = 

# Agip
TEST_AGIP_CLIENT = 
TEST_AGIP_CLIENT_FOLDER = 
TEST_AGIP_CUIT = 
TEST_AGIP_CLAVE_FISCAL = 
TEST_AGIP_CUIT_CLIENTE_INPUT = 

# Mendoza
TEST_MENDOZA_CLIENT = 
TEST_MENDOZA_CLIENT_FOLDER = 
TEST_MENDOZA_CUIT = 
TEST_MENDOZA_CLAVE_FISCAL = 
TEST_MENDOZA_CUIT_CLIENTE_INPUT = 

# Formosa
TEST_FORMOSA_CLIENT = 
TEST_FORMOSA_CLIENT_FOLDER = 
TEST_FORMOSA_CUIT = 
TEST_FORMOSA_CLAVE_FISCAL = 
TEST_FORMOSA_CUIT_CLIENTE_INPUT = 

# CHACO
TEST_CHACO_CLIENT = 
TEST_CHACO_CLIENT_FOLDER = 
TEST_CHACO_CUIT = 
TEST_CHACO_CLAVE_FISCAL = 
TEST_CHACO_CUIT_CLIENTE_INPUT = 

# NEUQUEN
TEST_NEUQUEN_CLIENT = 
TEST_NEUQUEN_CLIENT_FOLDER = 
TEST_NEUQUEN_CUIT = 
TEST_NEUQUEN_CLAVE_FISCAL = 
TEST_NEUQUEN_CUIT_CLIENTE_INPUT = 

# SANTA CRUZ
TEST_SANTA_CRUZ_CLIENT = 
TEST_SANTA_CRUZ_CLIENT_FOLDER = 
TEST_SANTA_CRUZ_CUIT = 
TEST_SANTA_CRUZ_CLAVE_FISCAL = 
TEST_SANTA_CRUZ_CUIT_CLIENTE_INPUT = 