*.png
Estructura-robot/*

__pycache__/
Documentación/estructura_input.xlsx

*.pdf

*.docx
/Documentación/
Documentación/*
/Documentación/*
*.zip
*.xlsx
git

.idea

.env
pruebas/database.db
pruebas/database.db
